.top{
height: 100px;
background-color: aqua;
border-radius: 30px;
box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
}

.menu {
list-style: none;
display: flex;
justify-content: right;
padding: 40px;
}

nav ul li {
     margin: 20px;

     }
     body{
         background-image: url(painel-fotografico-paisagem-noturna-lua-n016145-182761.webp);
     }



    